body {
    background-image: linear-gradient(45deg, white, grey);
}

/* Site Wrap */

.site-wrap {
    display: grid;
     
}

body {
    margin: 0px;
}

/* Nav Styles */

.nav {
    background-color: black;
    color: white;
}

.nav > .btns {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav > .btns > p {
    background-color: rgb(85, 81, 81);
    border: 4px solid black;
    color: white;
    padding: 13px;
}

.nav > p {
    text-align: center;
    color: yellow;
}

.nav > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.nav > img {
    width: 566px;
}