body {
    background-image: linear-gradient(133deg, grey, black);
    color: rgb(182, 176, 176);
}

/* Site Wrap */

.site-wrap {
    display: grid;
}

body {
    margin: 0px;
}

/* Nav Styles */

.nav > .gray {
    color: gray;
}

.nav {
    background-color: black;
    color: white;
    font-size: 20px;
}

.nav > .btns {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-btn {
    background-color: rgb(85, 81, 81);
    border: 4px solid black;
    color: white;
    padding: 13px;
}

.nav > p {
    text-align: center;
    color: yellow;
}

.nav > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.nav > .logo > img {
    width: 566px;
}

.nav > .logo {
    display: flex;
    justify-content: center;
}

/* Content Styles */

.content {
    font-size: 33px;
    text-align: center;
}

/* Btn Styles */

.green-btn {
    padding: 15px;
    background-color: rgb(63, 146, 63);
    color: black;
}

.black-btn {
    padding: 15px;
    background-color: black;
    color: white;
}

/* Codepen Img Styles */

.codepen-img {
    text-align: center;
}

.codepen-img > img {
    width: 95%;
}

.codepen-img > p {
    font-size: 20px;
}

/* Footer Styles */

.footer {
    display: flex;
    justify-content: center;
}

.footer > .boxes {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    background-color: rgb(61, 61, 61);
}

/* Absolutely Nothing */

.absolutely-nothing {
    height: 50px;
}

/* Media Query
For Desktops

@media only screen and (min-width: 1920px) {
    .nav > .logo > img {
        width: 15%;
    }

    .nav > .logo {
        display: flex;
        justify-content: flex-start;
        margin: 0%;
    }

    .nav {
        height: 124px;
    }

    .nav > p {
        text-align: left;
    }

    .nav > ul {
        justify-content: space-between;
    }

} */